.tabs {
  margin-top: var(--spacer-medium);
}

.tabs__list {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.avatar {
  user-select: none;
  width: var(--spacer-xxlarge);
  height: var(--spacer-xxlarge);
  font-size: var(--font-large);
  line-height: 27px;
  font-weight: 600;
  border-radius: var(--spacer-small);
  border: 2px solid var(--primary-300);
  background-color: var(--background-900);
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  display: flex;
  box-sizing: border-box;
}

table {
  background-color: var(--background-800);
  border-radius: var(--spacer-small);
  width: 100%;
  text-align: left;
  border-spacing: 0;
}

td {
  padding: var(--spacer-small);
  font-size: var(--font-medium);
  line-height: 19px;
}


td:last-child {
  text-align: right;
  font-weight: 500;
}

th {
  font-size: var(--font-medium);
  line-height: 19px;
  color: var(--primary-300);
  border-bottom: 1px solid #323241;
  padding: 0 var(--spacer-small);
  text-align: left;
  font-weight: 400;
  width: 33.33%;
  height: var(--spacer-xxlarge);
}

th:last-child {
  text-align: right;
}

.transaction-detail {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: var(--spacer-medium);
}

.transaction-category {
  font-size: var(--font-small);
  line-height: 21px;
  color: var(--primary-300);
  text-transform: capitalize;
}

.transaction-description {
  color: var(--primary-900)
}
