.accounts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  gap: var(--spacer-medium);
}

.account {
  background: var(--background-850);
  padding: var(--spacer-large);
  text-align: left;
  border-radius: 4px;
}

.account .total {
  color: var(--primary-300);
  font-size: var(--font-medium);
  line-height: 22px;
}

.account .amount {
  color: var(--primary-900);
  font-size: var(--font-large);
  line-height: 28px;
  font-weight: 700;
  margin-top: var(--spacer-small);
}
